#cy {
    height: 700px;
    width: 700px;
    position: absolute;
    left: 4em;
    top: 1em;
    border:1px solid #AAAAAA;
}

#jumbotron{
    height: 100%;
    width: 100%;
}

#info-panel{
    word-wrap: break-word;
}

#scalebtns {
    left: 4em;
}

.btn-default {
    background-color: #FFFFFF;
    color: #111111;
}
