[submodule "src/src/nowac/backend"]
	path = src/src/nowac/backend
	url = git@ice-git.cs.uit.no:fjukstad/nowac-backend.git
[submodule "src/src/nowac/webapp"]
	path = src/src/nowac/webapp
	url = git@ice-git.cs.uit.no:fjukstad/nowac-webapp.git
[submodule "src/src/nowac/graph"]
	path = src/src/nowac/graph
	url = git@ice-git.cs.uit.no:fjukstad/nowac-graph.git
[submodule "src/src/nowac/websocket-broadcaster"]
	path = src/src/nowac/websocket-broadcaster
	url = git@ice-git.cs.uit.no:fjukstad/nowac-websocket-broadcaster.git
[submodule "doc"]
	path = doc
	url = git@ice-git.cs.uit.no:fjukstad/master-thesis.git
[submodule "src/src/nowac/dataset"]
	path = src/src/nowac/dataset
	url = git@ice-git.cs.uit.no:fjukstad/nowac-dataset.git
[submodule "src/src/nowac/kegg"]
	path = src/src/nowac/kegg
	url = git@ice-git.cs.uit.no:fjukstad/nowac-kegg.git
[submodule "misc/ieee-vis-2013"]
	path = misc/ieee-vis-2013
	url = git@ice-git.cs.uit.no:fjukstad/ieee-vis-2013.git
