[submodule "src/src/nowac/kegg"]
	path = src/src/nowac/kegg
	url = git@ice-git.cs.uit.no:fjukstad/nowac-kegg.git
[submodule "src/src/nowac/backend"]
	path = src/src/nowac/backend
	url = git@ice-git.cs.uit.no:fjukstad/nowac-backend.git
[submodule "src/src/nowac/webapp"]
	path = src/src/nowac/webapp
	url = git@ice-git.cs.uit.no:fjukstad/nowac-webapp.git
[submodule "src/src/nowac/graph"]
	path = src/src/nowac/graph
	url = git@ice-git.cs.uit.no:fjukstad/nowac-graph.git
