.content {
    margin-left: 1em;
    margin-right: 1em;
} 

.ui-widget { 
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2em; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 2em;
} 

input#input { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8em; 
    width: 40%; 
} 

li { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px; 
} 

#selector {
    height: 500px;
    max-height: 200px;
    overflow: scroll;
}

#orhead {
    margin-left: 3em;
    margin-right: 3em;
}

g.pathway { 
    pointer-events: all;
}

#content { 
    background: #fff;
}

#settings-and-that {
    min-height: 1.8em;
    margin-bottom: 0px;
    margin-top: 0.1em;
}

#topnav {
    margin-bottom: 0px;
    margin-top: 0px;

}

.navbar { 
    background-color: #f1f1f1;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

button#searchbtn { 
    float: right;
}

.snap-drawer{
    background-color: #f2f2f2;
}
