#cy {
    height: 700px;
    width: 850px;
    position: absolute;
    left: 2em;
    border-radius: 3px;        
    border:1px solid #AAAAAA;
}

.scale { 
    display: inline; 
} 

#expression-view { 
    overflow: scroll;
    padding-right:1em;
    margin-right:1em;
} 

#info-panel-heading{
    /*position:fixed;*/
    margin-top:-16px;
    border-radius: 3px;        
    border:1px solid #AAAAAA;
    /*width:31%;*/
} 
.left {
    float:left;
}

#info-panel-body{ 
    overflow: scroll;
} 

#jumbotron{
    height: 100%;
    width: 100%;
}

#info-panel{
    word-wrap: break-word;
}

#scalebtns {
    left: 1em;
}

.btn-default {
    background-color: #FFFFFF;
    /*color: #111111;*/
}

.settings { 
    display: inline; 
    padding-left: 1.2em;
} 

/*
.btn-primary {
    color: black;
    background-color: white;
    border-color: white;
} 

.btn.active { 
    color:black;
    background-color:white;
    border-color:white;
}
*/


.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #a6bbc8;
  shape-rendering: crispEdges;
}


.x.axis line {
  stroke: #a6bbc8;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #a6bbc8;
}

.y.axis tick { 
    stroke: black;
} 

/*.tick {
    display:none
} */

img.structure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
