{{ define "title" }}
About 
{{ end }}

{{ define "content" }}
<div class="jumbotron">
    <h1> About </h1>
    <p>
    Kvik is a tool for exploring biological pathway maps from KEGG and genomic
    data from the Norwegian Women and Cancer (NOWAC) biobank. For more
    information, see <a
        href="http://github.com/fjukstad/kvik">github.com/fjukstad/kvik</a>. 
    </p>
    <p>
    <strong>Contact:</strong> Bjørn Fjukstad at <a
        href="mailto:bjorn@cs.uit.no">bjorn@cs.uit.no</a> 
    </p>
</div>
{{ end }}
