{{ define "title" }}
    Kvik Browser
{{ end }}

{{ define "content" }}
<script src="/js/vis-man.js"></script>
<script src="/js/pathway_submitter.js"></script>


<div class="jumbotron">
    <div class="container" >
        <h1> Kvik Browser </h1> 
    <div class="row">
        <div class="col-xs-6 col-md-6 col-lg-6"> 
            <form id="pathwayForm" method="GET">
                <fieldset>
                    <legend> Select a pathway</legend>
                    <select multiple class="form-control" id="pathwaySelect"
                        name="pathwaySelect" size="10">
                    {{range $index, $element := .Input }}
                        <option value="{{$element}}" > {{$element}} </option>
                    {{end}}
                    </select>
                        <button id="pathwayFormSubmit" type="submit" class="btn
                            btn-primary">Select</button>
                    </legend>
                </fieldset>
            </form>
        </div>
         <div class="col-xs-6 col-md-6 col-lg-6" id="genediv">   
            <form id="geneForm" method="GET">
                <fieldset>
                    <legend> OR: Select a gene </legend>
                    <!--
                    <select multiple class="form-control" id="geneSelect"
                        name="geneSelect" size="10">
                    </select>
                        <button id="geneFormSubmit" type="submit" class="btn
                            btn-primary">Select</button>
                        --> 
                    <div id="geneselect" style="height:300px; width:100%; overflow-y:auto">
                            <ul id="geneselect" class="list-unstyled"></ul> 
                    </div> 
                </fieldset>
            </form>
        </div>


    </div> 
    </div> 
</div>



{{ end }}
