{{ define "header" }}

<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- jquery -->
<script src="http://code.jquery.com/jquery.js"></script>
<!--   jquery -->


<!-- Bootstrap --> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<!--<script src="js/bootstrap.min.js"></script>-->

<!--Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<!-- Bootstrap -->

<!--- Ensuring it works nicely on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- D3 and such -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>



<!-- Cytoscape -->
<!--<script
src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>--> 
<script src="/public/cytoscape.min.js"></script>

<!--<script
  src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/arbor.js"></script>-->
<script type="text/javascript" src="/js/arbor.js"></script>


<link rel="stylesheet" href="/css/pace.min.css">
<script type="text/javascript" src="/js/pace.min.js"></script>


{{ end }}
