{{ define "navbar" }}

<div class="navbar navbar-inverse">
  <a class="navbar-brand" href="/">Kvik</a>
  <ul class="nav navbar-nav">
      <li> <a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/browser">Browser</a></li>
    </ul>
    <!---
    <ul class="nav pull-right">
    <li class="dropdown">
    <a class="dropdown-toggle" style="color:#a6bbc8; margin-right:2em"
            data-toggle="dropdown">Settings<b class="caret"></b></a>
        <ul class="dropdown-menu">
        <div class="btn-group" data-toggle="buttons" id="scalebtns">
        <label class="btn btn-primary">
            <input type="radio" name="options" id="log"> Logarithmic
        </label>
          <label class="btn btn-primary active">
            <input type="radio" name="options" id="abs"> Absolute
          </label>
        </div>
        
        </ul>
        </li>    
    </ul>
    -->
</div>


{{end}}
