{{ define "title" }}
    Pathway Visualizer
{{ end }}

{{ define "content" }}

<!--
<div class="jumbotron">
    <h2> 
        Visualizing the selected pathways
    </h2>
    <small>
    <ul class="list-inline">
        {{ range $index, $element := .Selection }}
        <li>{{$element}}</li> 
        {{end}}
    </ul>
    </small>
</div>
--->
<!--
<div id="image">
    <button onclick="savePathway()">Save as Image</button>        
</div>
-->


<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8" id="pathway">
        <div id="container">
                <div id="cy"> 
                </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-5">
        <div id="pathway-info-view">
        </div> 
        <div id="expression-view">
           <div id="info-panel">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">    
    <!--
      <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
          Scale
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Absolute</a></li>
          <li><a href="#">Logarithmic</a></li>
        </ul>

        </div>
    -->
        <script>
            $(document).on("click", "#scalebtns", function(event){
            
                Pace.restart()

                scale = event.target.textContent;
                var log = scale.match(/log/i);
                var scale = ""                
                if(log) { 
                    scale = "log"
                }
                else { 
                    scale = "abs"
                } 

                setScale(scale)                     
                

            });
        </script>

        <div class="btn-group" data-toggle="buttons" id="scalebtns">
          <label class="btn btn-primary">
            <input type="radio" name="options" id="log"> Logarithmic
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" id="abs"> Absolute
          </label>
        </div>



        <div class="settings"> 
        <label class="checkbox-inline" style="padding-right:0.2em">
          <input type="checkbox" id="disable" value="option1"> Filtering
          disabled 
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="smoking" value="option2"> Smoker
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="hormones" value="option3"> Hormone Therapy
        </label>

        <script>
        $( "input#disable").change(function() {
            var val = $( this );
            settings.Disable = val.prop("checked")
            setSettings() 
        });

        $( "input#smoking").change(function() {
            var val = $( this );
            settings.Smoking = val.prop("checked")
            setSettings() 
        });

        $( "input#hormones").change(function() {
            var val = $( this );
            settings.HormoneTherapy = val.prop("checked")
            setSettings() 
        });

    

        </script> 
</div> 

<div id="scale">
        <script>
/*
            
            var w = 400,
                h = 10

            var svg = d3.select("#scale").append("svg:svg")
                .attr("width", w)
                .attr("height", h);

            var gradient = svg.append("svg:defs")
              .append("svg:linearGradient")
                .attr("id", "gradient")
                .attr("x1", "0%")
                .attr("y1", "0%")
                .attr("x2", "100%")
                .attr("y2", "0%")
                .attr("spreadMethod", "pad");

            gradient.append("svg:stop")
                .attr("offset", "0%")
                .attr("stop-color", function(){
                     return colorbrewer.RdYlBu[3][3];
                     })
                .attr("stop-opacity", 1);

            gradient.append("svg:stop")
                .attr("offset", "100%")
                .attr("stop-color", function(){
                     return colorbrewer.RdYlBu[3][0];
                })
                .attr("stop-opacity", 1);

            svg.append("svg:rect")
                .attr("width", w)
                .attr("height", h)
                .style("fill", "url(#gradient)");
                */
        </script> 
    </div> 

</div> 
</div>
</div>



</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8" id="console">

    <style>
        #console { 
            background-color: #fff;
            margin-left:1em;
        }
        .cmd {
            background-color: #fff;
        }
    </style> 


        <script> 
    $(function($, undefined) {
        $('#console').terminal(function(command, term) {
           if (command == "help") { 
                term.echo("This is a unhelpful help message");
                return
            }
                console.log(command) 
                // WARNING, SENDING DIRECTLY TO DS 
                var url = "http://"+window.location.hostname+":8888/com"
                console.log("Sending to", url) 
                var a = {Command: command}
                console.log(a) 
                $.ajax({
                    url: url,
                    data: a,
                    success: function(d, txtstatus, jqxhdr){
                        console.log(d)
                        term.echo(d, { finalize: function(div){
                            div.css("color", "black"); 
                            }
                            });
                    },
                    async: false,
                    });
        }, {
            greetings: '',
            name: 'js_demo',
            height: 200,
            width: "100%",
            prompt: 'R> '});
    });
        </script> 
    </div> 
</div> 

    <script type="text/javascript" src="/js/info-man.js"></script>
    <script type="text/javascript" src="/js/vis-man.js"></script>
    <script type="text/javascript" src="/js/graph-interface.js"></script>
    <script type="text/javascript" src="/js/pathway_visualizer.js"></script>
    <script type="text/javascript" src="/js/benchmark.js"></script>
    <script type="text/javascript" src="/js/benchmarks.js"></script>

{{ end }}
