{{set . "title" "pathway vis"}}

{{append . "moreScripts" "js/info.js"}}
{{append . "moreScripts" "js/pathway.js"}}
{{append . "moreScripts" "js/vis-search.js"}}
{{append . "moreScripts" "js/bootstrap-slider.js"}}
{{append . "moreScripts" "js/snap.js"}}
{{append . "moreStyles" "css/snap.css"}}
{{append . "moreStyles" "css/bootstrap-slider.css"}}


{{template "header.html" .}}
{{template "navbar.html" .}}

{{ template "panels.html" . }} 
<div id="content" class="snap-content" data-snap-ignore="true">
</div> 

<script>
var panels = new Snap({
    element: document.getElementById("content"),
    dragger: null
}); 

$("#geishabtn").click(function(){
    if( panels.state().state=="left" ){
        panels.close();
    } else {
        panels.open('left');
        d3.select("#geishad-panel").style("z-index", 1).style("opacity", 100); 
        d3.select("#pathway-info-panel").style("z-index", -1).style("opacity", 0); 
    }
});

$("#searchbtn").click(function(){
    if( panels.state().state=="right"){
        panels.close();
    } else {
        panels.open('right');
        d3.select("#search-panel").style("z-index", 1).style("opacity", 100); 
        d3.select("#gene-info-panel").style("z-index", -1).style("opacity", 0); 
    }
});

</script> 
<script>
window.onload = function() { 
    var h = window.innerHeight;
    var w = window.innerWidth; 
    {{ range $index, $element := .ids}}
        pathway({{ $element }}, "#content",h,w) 
    {{ end }} 

    initSearch(); 

    // Without JQuery
    var slider = new Slider('#ex1', {
        formatter: function(value) {
            return value + "%";
        }
    });
    slider.on("slide", function(slideEvent){
            console.log(slideEvent);
            hide(slideEvent); 
            $("#sliderman").text(slideEvent + "%"); 
    });
    
}
</script> 


