<div class="navbar" id="settings-and-that">
<button type="button" class="btn btn-default btn-sm" id="geishabtn">
  <span class="glyphicon glyphicon glyphicon-tasks" aria-hidden="true"></span>
  GEISHA
</button>

<button type="button" class="btn btn-default btn-sm" id="searchbtn">
  <span class="glyphicon glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
    Search 
</button>

</div> 

<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <div>
            <h3> GEISHAD </h3> 

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Step 1 
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                      In the first step we did so and so. 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Step 2
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      Second step some more
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Step 3 
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                      Third step! 
                  </div>
                </div>
              </div>
            </div>

                </div>
            </div> 
            <div class="snap-drawer snap-drawer-right" id="search-panel">
                <div>
                <h3> Search! </h3> 
                    <div class="centered text">
                        <div class="ui-widget">
                          <label for="input">Search for a pathway or gene: </label>
                          <input id="input"></input> 
                        </div>
                    </div>
            </div> 

            <div class="snap-drawer snap-drawer-right" id="info-panel">
                <div>
                    <h3> Other right thing </h3> 
                </div>
            </div> 
    </div>
</div> 
