{{ define "title" }}
    Demo
{{ end }}

{{ define "content" }}
<script src="/js/pathway_submitter.js"></script>


<div class="jumbotron">
    <h1> Pathway visualization </h1>

    <form id="pathwayForm" method="GET">
        <fieldset>
            <legend> Select pathways for visualization </legend>
            <select multiple class="form-control" id="pathwaySelect"
                name="pathwaySelect" size="10">
            {{range $index, $element := .Input }}
                <option value="{{$element}}" > {{$element}} </option>
            {{end}}
            </select>
                <button id="pathwayFormSubmit" type="submit" class="btn btn-primary">Submit</button>
            </legend>
        </fieldset>
    </form>
</div>




<script> 
    var sel = document.getElementById('pathwaySelect');
    var opts = sel.options;
    for(var opt, j = 0; opt = opts[j]; j++) {
        console.log(opt)
    }

</script> 
{{ end }}
