{{ define "title" }}
    Pathway Visualizer
{{ end }}

{{ define "content" }}

<div class="jumbotron">
    <h2> 
        Visualizing the selected pathways
    </h2>
    <small>
    <ul class="list-inline">
        {{ range $index, $element := .Selection }}
        <li>{{$element}}</li> 
        {{end}}
    </ul>
    </small>
    <div id="container">
        <div id="cy"> </div>
    </div>

    <script type="text/javascript" src="/js/graph-interface.js"></script>
    <script type="text/javascript" src="/js/pathway_visualizer.js"></script>
</div>



{{ end }}
